@{
    ViewBag.Title = "Who I am?";
    ViewBag.Message = "<h3>Experience:</h3><p>10 years of soft development experience which includes analysis, design, troubleshooting, documentation, and architect software / web applications.</p><p>Solid foundation in Object Oriented Programming, with in-depth experience using C# and the .Net framework.</p><p>Strong knowledge of Database Design, Database Maintenance, and Stored Procedure development.</p><p>Ability to govern multiple projects and clients simultaneously while effectively communicating the scope, milestones, and deliverables.</p><h3>Notable Projects:</h3>";
}
<h2>@ViewBag.Title</h2>
@Html.Raw(@ViewBag.Message)

<ul class="timeline">
    <li>
            <a href="https://www.driscolls.com/" class="timeline-badge peel-badge anim750">

                <div class="reveal circle_wrapper">
                    <div class="circle timeline-driscolls"></div>
                </div>

                <div class="sticky anim750">
                    <div class="front circle_wrapper anim750">
                        <div class="circle anim750"></div>
                    </div>
                </div>


                <div class="sticky anim750">
                    <div class="back circle_wrapper anim750">
                        <div class="circle anim750"></div>
                    </div>
                </div>

            </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="https://www.driscolls.com/">Driscolls.com</a></h4>
            </div>
            <div class="timeline-body">
                <p>Driscoll’s brand website relaunch.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Nov-21-2016</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">

        <a href="#" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-universal"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="">Myth Exlpore</a></h4>
            </div>
            <div class="timeline-body">
                <p>A found footage Angular site. Custom taging and api. WordPress custom API for client to manage assets.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Mar-23-2016</p>
            </div>
        </div>
    </li>

    <li>
        <a href="http://www.suzukicycles.com/motoXmen" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://www.suzukicycles.com/motoXmen">Moto X-men</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki Microsite for an X-men crossover. A straight forward responsive site to showcase the tie-in.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Feb-23-2016</p>
            </div>
        </div>
    </li>


    <li class="timeline-inverted">

        <a href="https://www.vioc.com/" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-vioc"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="https://www.vioc.com/">VIOC.com</a></h4>
            </div>
            <div class="timeline-body">
                <p>Valvoline’s brand website relaunch. Custom imports and data migration for previous drupal site into Sitecore. I archected the creation of site based on agreed apon designs.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Oct-18-2015</p>
            </div>
        </div>
    </li>


    <li>
        <a href="http://www.suzukicycles.com/rm-z" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://www.suzukicycles.com/rm-z">RM-Z</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki Microsite for RM-Z Motorcycles. A bit of an odd design, being an adaptive rather than responsive site. Used to provide rider information and latest bike news in a more engaging way.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Mar-01-2015</p>
            </div>
        </div>
    </li>



    <li class="timeline-inverted">

        <a href="http://www.suzukicycles.com/2014V-Strom" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://www.suzukicycles.com/2014V-Strom">2014 V-Strom</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki Microsite for 2014 V-Strom Motorcycles. Unfortunately the version that can still be reached does not have all the updates and fixes. The idea was for a basic parallaxing desktop experience to show off new features.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Mar-25-2015</p>
            </div>
        </div>
    </li>


    <li>
        <a href="http://www.suzukiauto.com/" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://www.suzukiauto.com/">SuzukiAuto.com</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki of America's Automotive site. A simple site I built with the same styling as the other sites. Automotive is no longer avalaible in America but the parts, warranties and other servers are still available.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Apr-04-2014</p>
            </div>
        </div>
    </li>


    <li class="timeline-inverted">

        <a href="http://suzukimarine.com/" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://suzukimarine.com/">SuzukiMarine.com</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki of America's Marine site. Slight variation and customization from the SuzukiCycles site.</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Mar-13-2013</p>
            </div>
        </div>
    </li>


    <li>
        <a href="http://www.suzukicycles.com/" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://www.suzukicycles.com/">SuzukiCycles.com</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki of America's main site. Majority of work and updates are for this site. Currently in beginning stages for redesign. </p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Jan-02-2013</p>
            </div>
        </div>
    </li>


    <li class="timeline-inverted">

        <a href="http://www.suzuki.com/" class="timeline-badge peel-badge anim750">

            <div class="reveal circle_wrapper">
                <div class="circle timeline-suzuki"></div>
            </div>

            <div class="sticky anim750">
                <div class="front circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>


            <div class="sticky anim750">
                <div class="back circle_wrapper anim750">
                    <div class="circle anim750"></div>
                </div>
            </div>

        </a>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4><a href="http://www.suzuki.com/">Suzuki.com</a></h4>
            </div>
            <div class="timeline-body">
                <p>Suzuki’s brands websites maintenance, customization, and microsites</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">Oct-13-2012</p>
            </div>
        </div>
    </li>
    <li class="clearfix no-float"></li>
</ul>
