@{
    ViewBag.Title = "Contact Me";
    ViewBag.Message = "Current Contact information";
}
<h2>@ViewBag.Title</h2>

<div class="contact-container">
    
    <h3>@ViewBag.Message</h3>

    <address>
        <strong>Living:</strong> Oakland, CA 94607<br />
        <strong>Working:</strong> San Francisco, CA 94103<br />
    </address>

    <address>
        <strong>Phone:</strong>
        <a href="tel:18609190413">(860) 919-0413</a><br />
        <strong>E-mail:</strong>   <a href="mailto:rtruncali@gmail.com">rtruncali@gmail.com</a><br />
        <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/richard-truncali-46069128">Richard Truncali</a>
    </address>
</div>