@{
    ViewBag.Title = "Home Page";
}

<div class="home-panel">
    <h1>Rick Truncali</h1>
    @*<img src="@Url.Content("~/Images/rick.png")" alt="Rick The Man"/>*@
</div>
@*<div class="row">
    <div class="show-case">
        <div class="card">
            <div class="cover">
                <h2>Living</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nemo itaque, facilis culpa tempora nobis, provident maxime minima. Alias est aspernatur doloribus. Sapiente repellendus praesentium labore ipsa nesciunt laudantium cupiditate?</p>
            </div>
        </div>
        <div class="card">
            <div class="cover">
                <h2>Dinning</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nemo itaque, facilis culpa tempora nobis, provident maxime minima. Alias est aspernatur doloribus. Sapiente repellendus praesentium labore ipsa nesciunt laudantium cupiditate?</p>
            </div>
        </div>
        <div class="card">
            <div class="cover">
                <h2>Room</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nemo itaque, facilis culpa tempora nobis, provident maxime minima. Alias est aspernatur doloribus. Sapiente repellendus praesentium labore ipsa nesciunt laudantium cupiditate?</p>
            </div>
        </div>
        <div class="card">
            <div class="cover">
                <h2>Nature</h2>
            </div>
            <div class="info">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nemo itaque, facilis culpa tempora nobis, provident maxime minima. Alias est aspernatur doloribus. Sapiente repellendus praesentium labore ipsa nesciunt laudantium cupiditate?</p>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-4">
        <h2>GitHub</h2>
        <p>
            Check out my GitHub, unfortunately most of my cool stuff is periptery. I’m hoping to put up some cool stuff I’ve been working on outside of that soon.
        </p>
        <p><a class="btn btn-default" href="https://github.com/rtruncali">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>Want to Connect the old fashion way. Check out my LinkedIn, and feel free to shoot me a messages.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/richard-truncali-46069128">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Don't Click This</h2>
        <p>Don't do it. I'm telling you don't click this button!!!</p>
        <div class="wrap">
            <div class="clicker" onclick="new ZergRush(20);"><span>DON'T CLICK ME</span></div>
            <div class="circle-button angled"></div>
            <div class="circle-button angled-out"></div>
        </div>
    </div>
</div>
